* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.appDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg,
    rgba(208, 208, 252, 0.95) 0%,
    rgba(235, 240, 245, 0.95) 100% );
}